@import url('/css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import 'main.css';
@import url('/css/salesManager.css');

.background-container {
    background-size: cover; 
    background-position: center; 
    padding: 20px; 
    color: white; 
    text-align: center; 
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}
.background-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.background-container div h3 {
    color: #DD6E3F;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    line-height: 54.46px;
}
.background-container div p {
    color: #000000;
    margin-top: 20px;
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
}

.background-container div button{
    margin-top: 50px;
    padding: 20px 50px;
}

.projectManagerRemote{
    position: relative;
}
.projectManagerRemote::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/img_background.png');
    background-size: cover; 
    background-position: center;
    opacity: 1; 
    z-index: -1; 
}

.chelm::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/img_background_confirmationOfApplying.jpeg');
    background-size: cover; 
    background-position: center;
    opacity: 0.2; 
    z-index: -1; 
}

.chelm {
    position: relative;
}

.chelm::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/img_background_confirmationOfApplying.jpeg');
    background-size: cover; 
    background-position: center;
    opacity: 0.2; 
    z-index: -1; 
}

.SalesManager{
    position: relative;
}

.SalesManager::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/img_background_confirmationOfApplyingSM.png');
    background-size: cover; 
    background-position: center;
    opacity: 1; 
    z-index: -1; 
}
.salesManagerPoznan{
    position: relative;
}
.salesManagerPoznan::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/img_confirmation_of_applying_salesManager_Poznan.png');
    background-size: cover; 
    background-position: center;
    opacity: 1; 
    z-index: -1; 
}
.salesManagerWarsaw{
    position: relative;
}
.salesManagerWarsaw::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/confirmation_of_applying_sales_manager_warsaw.png');
    background-size: cover; 
    background-position: center;
    opacity: 1; 
    z-index: -1; 
}

.uploadingCV{
    position: relative;
}
.uploadingCV::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/img_uploadingCV.png');
    background-size: cover; 
    background-position: center;
    opacity: 1; 
    z-index: -1; 
}

.cv_sub-title{
    display: flex;
}
.contact{
    position: relative;
}
.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/img_contact.png');
    background-size: cover; 
    background-position: center;
    opacity: 1; 
    z-index: -1; 
}
.contact-details-title{
    font-family: Inter;
    font-weight: 500;
    line-height: 29.05px;
    text-align: center;
    color:  #000000;
    font-size: 24px;
}
.contact-input{
    width: 301px;
    height: 53px;
    border-radius: 50px;
    background-color: #DD6E3FCC;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Inter;
}
.contact-input::placeholder{
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 18.15px;
    text-align: center;
    font-family: Inter;
}