/* Importing necessary fonts and reset CSS */
@import url('/css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('/css/salesManagerRemote.css');
@import 'main.css';

.heroTitle {
    font-family: Inter;
    font-weight: 700;
    line-height: 48.41px;
    text-align: center;
    font-size: 40px;
    color: #DD6E3F;
}
.creatingFormSection{
        width: 100%;
        padding: 80px;
        border-radius: 20px;
        background-color: #D9D9D9;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.main_section_wraqpper{
width: auto;
}
.section_title{
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
    line-height: 42.36px;
    text-align: center;
    color: #000000;    
}
h3{
    font-family: Inter;
    font-weight: 500;
    line-height: 36.31px;
    text-align: center;
    font-size: 30px;
    color: #000000;
    margin-top: 40px;
}
.input_text{
    width: 50%;
    padding: 30px;
    border-radius: 20px;
    background-color: #FFFFFFE5;
    margin: 25px auto 15px 10px;
    display: flex;
    flex-direction: column;
}
.numberOfEmployees_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.website_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.company_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
p{
    font-family: Inter;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    font-size: 20px;
    color: #00000099;
}
.company_input{
    width: 926px;
    color: #FFFFFFE5;
    height: 299px;
    border: 1px solid #000000;
    border-radius: 25px;
    margin-top: 40px;
}
.company_input_wrapper{
    margin: auto;
}
.jobTitle_wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
ul {
    list-style: none;
    padding: 0px 40px;
    margin: 0;
}

li {
    font-size: larger;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}
.container{
    margin-top: 20px;
}
.categories {
    display: flex;
    justify-content: space-between;
}
.work_condition_wrapper{
    display: flex;
    flex-direction: column;
}
.work-condition {
    display: flex;
    flex-direction: column;
}
.option{
    margin-right: 30px;
    font-size: larger;
}

.employment-option{
    font-size: larger;
    margin: 15px 0px;
}
.salary-input{
    text-align: center;
    font-size: larger;  
}
.salary-label{
    font-size: larger;
}
.salary-unit{
    font-size: larger;
}
.commentsSalary{
    font-size: x-large;
    
}
.comments_wrapper{
    margin-top: 30px;
}
.range_input{
    width: 25%;
    padding: 25px;
    border-radius: 20px;
    background-color: #FFFFFFE5;
    margin: 25px auto 15px 10px;
    text-align: center;
}
.salary-option{
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-suitable{
    height: 15px;
    width: 15px;
}
.suitable-wrapper{
    font-size: larger;
}
.title-for-suitable-job{
    text-align: left;
}
.title-knowledge{
    text-align: left;
}
.skill-input{
    font-size: larger;
}
.Your_contacts{
    text-align: left;
}
.apply-label{
    font-size: x-large;
}
.submit-button{
    width: 185px;
    border-radius: 10px;
    height: 55px;
    font-size: larger;
    align-items: center;
    margin: auto 20px;
}
.title-apply{
    text-align: left;
}
.button-wrapper{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .creatingFormSection {
        width: 100%;
        padding: 80px;
        border-radius: 20px;
        background-color: #D9D9D9;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
    }
    .company_input {
        width: 300px;
        color: #FFFFFFE5;
        height: 299px;
        border: 1px solid #000000;
        border-radius: 25px;
        margin-top: 40px;
    }
    .submit-button{
        margin-top: 40px;
    }

    }
@media (max-width: 1024px) {
}